<h1>All My Listings</h1>

<% if @user.role == "superadmin" || @user.role == "landlord" %>
	<%= link_to "Add New Listing", new_listing_path %>
<% end %>

			
<% @listings.each do |listing| %>
	<% if current_user.id == listing.user_id %>
		<% if listing.reservations.any? %>
			<table>
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th>Description</th>
			      <th>Address</th>
			      <th>Price</th>
			      <th colspan="4"></th>
			    </tr>
			  </thead>
			  <tbody>
					<tr>
						<td><a href="/listings/<%= listing.id %>"><%= listing.name %></a></td>
						<td><%= listing.description %></td>
						<td><%= listing.address %></td>
						<td><%= listing.price %></td>
					</tr>
				</tbody>
			</table>

			<% listing.reservations.each do |reservation| %>
				<table>
				  <thead>
				    <tr>
				      <th>Reservation ID</th>
				      <th>User ID</th>
				      <th>Check-In Date</th>
				      <th>Check-Out Date</th>
				      <th colspan="4"></th>
				    </tr>
				  </thead>

				  <tbody>
						<tr>
							<td><a href= "/listings/<%= listing.id %>/reservations/<%= reservation.id %>"><%= reservation.id %></a></td>
							<td><%= reservation.user_id %></td>
							<td><%= reservation.check_in %></td>
							<td><%= reservation.check_out %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
		<% end %>
<!-- 	< % else %>
		<table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Address</th>
		      <th>Price</th>
		      <th colspan="4"></th>
		    </tr>
		  </thead>

		  <tbody>
				<tr>
					<td><a href="/listings/<%= listing.id %>"><%= listing.name %></a></td>
					<td><%= listing.description %></td>
					<td><%= listing.address %></td>
					<td><%= listing.price %></td>
				</tr>
			</tbody>
		</table>
	< % end %>	

 -->	<% elsif current_user.id != listing.user_id %>
		<table>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Address</th>
		      <th>Price</th>
		      <th colspan="4"></th>
		    </tr>
		  </thead>

		  <tbody>
				<tr>
					<td><a href="/listings/<%= listing.id %>"><%= listing.name %></a></td>
					<td><%= listing.description %></td>
					<td><%= listing.address %></td>
					<td><%= listing.price %></td>
				</tr>
			</tbody>
		</table>
	<% end %>	
<% end %>	

<%= will_paginate @listings %>



      