<h2>Results from search</h2>

<% @listings.each do |listing| %>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Address</th>
	      <th>Price</th>
	      <th colspan="12"></th>
	    </tr>
	  </thead>
	  <tbody>
			<tr>
				<td><a href="/listings/<%= listing.id %>"><%= listing.name %></a></td>
				<td><%= listing.description %></td>
				<td><%= listing.address %></td>
				<td><%= listing.price %></td>
			</tr>
		</tbody>
	</table>
<% end %>