<h2><a href="/listings"><%= @listing.name %></a></h2><br>
	<% unless @listing.photos.empty? %> 
		<% @listing.photos.each do |photo| %>
			<%= image_tag photo.thumb.url %>
		<% end %>
	<% end %>
	
<ul>	
	<li><%= @listing.description %></li><br>
	<li><%= @listing.address %></li><br>
	<li><%= @listing.price %></li>
</ul>	



<% if current_user.id == @user.id %>

	<a href="/listings/<%= @listing.id %>/edit">Edit listing</a>
	
	<%= form_for @listing do |form| %>
		<%= hidden_field_tag("_method", "delete") %>
		<input type='submit' value="Delete">
	<% end %>	


 <% if signed_in? %>
 	<%=  render '/reservations/form' %>
 <% else %>
 	<p>Please <%= link_to "Sign in", sign_in_path %> to make a reservation</p>	
 <% end %>	

<% end %>	