<h2><%= @listing.name %></h2><br>
	<% unless @listing.photos.empty? %> 
		<% @listing.photos.each do |photo| %>
			<%= image_tag photo.thumb.url %>
		<% end %>
	<% end %>
	
<ul>	
	<li><%= @listing.description %></li><br>
	<li><%= @listing.address %></li><br>
	<li><%= @listing.price %></li>
</ul>	

<% if signed_in? & current_user.role == "superadmin" || current_user.role == "tenant" %>
	<%=  render '/reservations/form' %>
<% elsif !signed_in? %>
	<p>Please <%= link_to "Sign in", sign_in_path %> to make a reservation</p>	
<% end %>	

<% if current_user.id == @user.id %>

	<a href="/listings/<%= @listing.id %>/edit">Edit listing</a>
	
	<%= form_for @listing do |form| %>
		<%= hidden_field_tag("_method", "delete") %>
		<input type='submit' value="Delete">
	<% end %>	

<% end %>	

