<h2>Reservation ID: <%= @reservation.id%></h2>

<p>
Listing: <%= @listing.name %><br>
Customer Name: <%= @user.first_name %> <%= @user.last_name %><br>
Customer Email: <%= @user.email %><br>
Check-In: <%= @reservation.check_in %><br>
Check-Out: <%= @reservation.check_out %><br>
Total Price: <%= @reservation.total_price %>
</p></br>

